/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}

main{
    width: 80%;
}

#webdevelopment{
    display: grid;
    grid-template-areas: "area1 area1"
                        "area2 area3";
}

.titulo{
    grid-area: area1;
    padding-left: 5%;
}

.link{
    padding-left: 4%;
}

.img{
    grid-area: area2;
    width: 522px;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.imgimg{
    width: 170px;
    height: 208px;
    margin: 0 auto; 
    background-color: white;
    padding: 2%;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    box-shadow: 0 8px 6px rgb(0 0 0 / 20%), 0 1px 4px rgb(0 0 0 / 24%);
}

.informacion{
    grid-area: area3;
    padding-right: 25%;
}

aside{
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    margin-right: 2px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: brown;
}

ul{
    list-style-type: none;
}

.imagen{
    width: 75px;
    height: 100px;
    margin: 0 auto; 
    background-color: white;
    padding: 3%;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

.negrita{
    font-weight: bold;
}

.justificado{
    text-align: justify;
}